NuPortalWebservice/Service References/ServiceReference1/NuPortalService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="LoginInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateEmployee">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EmployeeCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="JobTitle" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Manager" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProfilePicUrl" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="QuotesPictureUrl" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BackGroundPicUrl" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="HireDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="ConfirmationDate" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="WorkEMail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OfficeLocation" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="WorkLocation" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="EmptTypeId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="RelievingDate" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CompanyId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="CreatedDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="ModifiedDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="CreatedEmpId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="ModifiedEmpId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateEmployeeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateEmployeeResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetPersonalInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EmpId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Address1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="City1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="State1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Country1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ZipCode1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Phone1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Address2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="City2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="State2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Country2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ZipCode2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Phone2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EmergencyPhone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EmailId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DOB" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Gender" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Nationality" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BloodGroup" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CreatedDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="ModifiedDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="CreatedEmpId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="ModifiedEmpId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetPersonalInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SetPersonalInfoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LoginInfoSoapIn">
    <wsdl:part name="parameters" element="tns:LoginInfo" />
  </wsdl:message>
  <wsdl:message name="LoginInfoSoapOut">
    <wsdl:part name="parameters" element="tns:LoginInfoResponse" />
  </wsdl:message>
  <wsdl:message name="CreateEmployeeSoapIn">
    <wsdl:part name="parameters" element="tns:CreateEmployee" />
  </wsdl:message>
  <wsdl:message name="CreateEmployeeSoapOut">
    <wsdl:part name="parameters" element="tns:CreateEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="SetPersonalInfoSoapIn">
    <wsdl:part name="parameters" element="tns:SetPersonalInfo" />
  </wsdl:message>
  <wsdl:message name="SetPersonalInfoSoapOut">
    <wsdl:part name="parameters" element="tns:SetPersonalInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="NuPortalServiceSoap">
    <wsdl:operation name="LoginInfo">
      <wsdl:input message="tns:LoginInfoSoapIn" />
      <wsdl:output message="tns:LoginInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateEmployee">
      <wsdl:input message="tns:CreateEmployeeSoapIn" />
      <wsdl:output message="tns:CreateEmployeeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetPersonalInfo">
      <wsdl:input message="tns:SetPersonalInfoSoapIn" />
      <wsdl:output message="tns:SetPersonalInfoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NuPortalServiceSoap" type="tns:NuPortalServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LoginInfo">
      <soap:operation soapAction="http://tempuri.org/LoginInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateEmployee">
      <soap:operation soapAction="http://tempuri.org/CreateEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetPersonalInfo">
      <soap:operation soapAction="http://tempuri.org/SetPersonalInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NuPortalServiceSoap12" type="tns:NuPortalServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LoginInfo">
      <soap12:operation soapAction="http://tempuri.org/LoginInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateEmployee">
      <soap12:operation soapAction="http://tempuri.org/CreateEmployee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetPersonalInfo">
      <soap12:operation soapAction="http://tempuri.org/SetPersonalInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NuPortalService">
    <wsdl:port name="NuPortalServiceSoap" binding="tns:NuPortalServiceSoap">
      <soap:address location="http://localhost:52839/NuPortalService.asmx" />
    </wsdl:port>
    <wsdl:port name="NuPortalServiceSoap12" binding="tns:NuPortalServiceSoap12">
      <soap12:address location="http://localhost:52839/NuPortalService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>